@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "./partials/variables";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bbb {
  background-color: $primary;
  font-family: "Bebas Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}
/* Toast da mobile */
@media (max-width: 768px) {
  .Toastify__toast-container--top-center {
    top: 10% !important;
    max-width: 90vw !important; // la larghezza massima dell’intero contenitore
    padding: 0 !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .Toastify__toast {
    max-width: 300px !important; // dimensione più contenuta solo su mobile
    width: 90% !important; // si adatta meglio agli schermi piccoli
    font-size: 0.9rem !important;
    padding: 0.45rem 0.6rem !important;
  }
}
