@import "../../../Styles/partials/variables";
.btn-delete {
  color: red !important;
  display: inline-block;
  transition: transform 0.3s ease;
  &:hover {
    background-color: lighten($color: $primary, $amount: 20) !important;
  }
  :active {
    transform: translateY(5px) scale(1);
  }
}
