@use "../../../styles/partials/variables" as vars;

.btn-nav {
  border: none;
  color: vars.$text;
  background-color: transparent;
  font-weight: 400;
  font-size: 25px;
  &:hover {
    background-color: vars.$info;
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 10px vars.$text;
  }
}
.heart-btn {
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  &:hover {
  }
}
.icon {
  color: white;
  position: absolute;
  transition: opacity 0.2s ease;
  font-size: 2em;
  top: 12px;
}

.default {
  opacity: 1;
}

.hover {
  opacity: 0;
}

.heart-btn:hover .default {
  opacity: 0;
}

.heart-btn:hover .hover {
  opacity: 1;
}
