@import "../../../styles/partials/variables";
.btn-drop {
  background-color: transparent;
  color: $light;
  &:hover {
    background-color: $info;
    border-radius: 5px;
    color: $success;
    text-shadow: 0 0 10px $light;
  }
}
