// Colori mod
$primary: #0a1f44;
$secondary: #1c1c1c;
$success: #c1dbe3;
$light: #e7234d;
$alert: #7e1129;
$warning: #937826;
$info: #265c93;
@import "../../../node_modules/bootstrap/scss/bootstrap";
