@use "sass:color";

$background: #0a1f44;
$secondary: #1c1c1c;
$text: #e7234d;
$alert: #7e1129;
$warning: #937826;
$info: #265c93;

$mod-colors: (
  "primary": $background,
  "secondary": $secondary,
  "accent": $text,
  "dark": color.adjust($secondary, $lightness: -50%),
  "light": color.adjust($warning, $lightness: 100%),
  "danger": $alert,
  "warning": $warning,
  "success": $text,
  "info": $info,
) !default;
@use "bootstrap/scss/functions";
@use "bootstrap/scss/variables" as *;
$theme-colors: map-merge($theme-colors, $mod-colors);
