@import "../../../Styles/partials/variables";
#img-auto {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.h-b {
  display: inline-block;
  transition: transform 0.1s ease;
  &:hover {
    color: lighten($color: $primary, $amount: 20) !important;
  }
}

.h-b :active {
  transform: translateY(20px) scale(0.9);
}
.visualizza {
  padding: 5px;
  border-radius: 7%;
  &:hover {
    background-color: lighten($color: $primary, $amount: 20) !important;
  }
  &:active {
    transform: translateY(1px) scale(0.9);
  }
}
.btn-h-b {
  background-color: darken($color: $primary, $amount: 10) !important;
}
.bck {
  background-color: darken($color: $primary, $amount: 10) !important;
}
.carousel-indicators {
  color: $light !important;
}
