@import "../../../styles/partials/variables";
.img-auto {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  border-radius: 10px;
}
.car-carosello {
  width: 75%;
  max-width: 350px;
  height: 250px;
  margin: 0 auto;
}
.h-b {
  color: $light;
  &:hover {
    color: $success;
  }
}
