@import "../../../Styles/partials/variables";
#img-auto {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.h-b {
  display: inline-block;
  transition: transform 0.1s ease;
}

.h-b :active {
  transform: translateY(20px) scale(0.9);
}
.visualizza {
  padding: 5px;
  border-radius: 7%;
  &:hover {
    background-color: (lighten($secondary, $amount: 10));
  }
  &:active {
    transform: translateY(1px) scale(0.9);
  }
}
.carousel-indicators {
  color: $light !important;
}
