@use "../../../Styles/partials/variables" as vars;
.agata {
  h1,
  h2,
  h3,
  p {
    color: #c1dbe3;
  }
}
.logo {
  max-width: 20%;
}
#fot {
  background: #1c1c1c;
  background: linear-gradient(360deg, rgba(28, 28, 28, 1) 0%, rgba(231, 35, 77, 1) 30%, rgba(10, 31, 68, 1) 80%);
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}
